# Python
**/__pycache__/
*.so
ENV/
*env*/
dist/
venv/
build/
develop-eggs/
var/
lib/
lib64/
parts/
sdist/
wheels/
eggs/
.eggs/
*.egg
*.egg-info/
.installed.cfg

# dist files
*.tar.gz

# System files
**/._*
**/.DS_Store
**/.VolumeIcon.icns
**/.Spotlight-V100
**/.TemporaryItems
**/.fseventsd
**/Desktop.ini
**/Thumbs.db
**/.Trashes
**/.fuse_hidden*
